<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>72DBCC40-9954-4AAF-83D0-245E20B65F4B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DDC36430-3A5E-46DF-A690-3E0D03CCB517</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F84D66DC-337F-4864-938C-53D630D887A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DDC36430-3A5E-46DF-A690-3E0D03CCB517</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>zhnlk</string>
	<key>description</key>
	<string>查询指数及行情</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>行情</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>gp</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>拼命加载中...</string>
				<key>script</key>
				<string>require_once('stock.php');
$stock = new Stock();
echo $stock-&gt;controller("{query}");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>感谢新浪无私提供API，省了大麻烦了</string>
				<key>title</key>
				<string>您可以输入股票简拼或代码</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F84D66DC-337F-4864-938C-53D630D887A1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DDC36430-3A5E-46DF-A690-3E0D03CCB517</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>qh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>请稍等...</string>
				<key>script</key>
				<string>python future.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>/usr/local/bin/python3</string>
				<key>subtext</key>
				<string>行情速查</string>
				<key>title</key>
				<string>futures quantation quick search</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>72DBCC40-9954-4AAF-83D0-245E20B65F4B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>###更新历史:

1.2 2013-8-26

1. 支持自选股
2. 优化查询方式，多只股票只查询一次

1.1 2013-8-23

1. 加入对停牌的显示
2. 排版优化


1.0 2013-8-22

1. 基本功能，包括通过简拼以及代码查询股票，选择相应股票回车可以打开网页</string>
	<key>uidata</key>
	<dict>
		<key>72DBCC40-9954-4AAF-83D0-245E20B65F4B</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>DDC36430-3A5E-46DF-A690-3E0D03CCB517</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>F84D66DC-337F-4864-938C-53D630D887A1</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://github/zhnlk</string>
</dict>
</plist>
